{
  "openapi": "3.1.0",
  "info": {
    "title": "BNM Data Shop",
    "version": "1.4.0",
    "description": "Official public data as JSON. Unpaid paid routes return HTTP 402.",
    "contact": {
      "name": "BNM Data Shop",
      "url": "https://bnm.farm/"
    },
    "x-guidance": "Paid GETs (live count is /.well-known/x402): /ticks ($0.05), /import-alerts ($0.05), /mariners ($0.05), /mariners-d11 ($0.05), /mariners-d7 ($0.05), /mariners-d8 ($0.05), /warning-letters ($0.05), /untitled-letters ($0.05), /awa ($0.05), /swisspar ($0.05), /pcac ($0.05), /ftc-wl ($0.05), /cfpb-orders ($0.05), /occ-cd ($0.05), /fdic-orders ($0.05), /frb-orders ($0.05), /ncua-orders ($0.05), /fincen-orders ($0.05), /ferc-orders ($0.05), /ofac-orders ($0.05), /bis-orders ($0.05), /cftc-orders ($0.05), /fifra-orders ($0.05), /denovo-orders ($0.05), /ttb-oic ($0.05), /air-letters ($0.05), /superfund-rods ($0.05), /ico-mpn ($0.05), /cma-ca98 ($0.05), /ema-referrals ($0.05), /cder-reviews ($0.05), /npdes-permits ($0.05), /ofsted-inspections ($0.05), /ofwat-enforcement ($0.05), /ofgem-enforcement ($0.05), /gain ($0.05), /orr-enforcement ($0.05), /form-483 ($0.05), /gmp ($0.05), /gmp-md ($0.05), /phmsa-orders ($0.05), USDC on Base. Extracted-body doors: free index/search on /{door}/manifest.json or /{door}/index (?q=, optional before/date), then pay one official text GET ?id= ($0.02) or the page ($0.05). newest 10 official texts on a plain GET ($0.05), or the whole current set if fewer; older pages on the same URL (?before, another $0.05). Table doors (/ticks, /import-alerts) stay the whole current table. Free canned paid-JSON keys: GET /sample (HTTP 200, not a SKU). Free firm-name search: GET /firm-check?q= (HTTP 200, not a SKU). Start at GET /openapi.json or GET /.well-known/x402, then probe the paid URL unpaid for HTTP 402 (GET or POST '{}'). MCP at GET/POST /mcp lists one tool per paid GET plus free search, free firm-check, paid get-one ($0.02), and paid get-page ($0.05). Free manifests do not include the paid body. GET has no request body. /phmsa-orders is listed here (first slice; live after apollo apply). Live count is /.well-known/x402, not a hardcoded door number."
  },
  "x-discovery": {
    "ownershipProofs": [
      "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
    ]
  },
  "x-agentcash-provenance": {
    "ownershipProofs": [
      "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
    ]
  },
  "x-agentcash-guidance": {
    "llmsTxtUrl": "https://ticks.bnm.farm/llms.txt",
    "sampleUrl": "https://ticks.bnm.farm/sample",
    "firmCheckUrl": "https://ticks.bnm.farm/firm-check",
    "oneDocPriceAtomic": 20000,
    "pagePriceAtomic": 50000,
    "pageDefault": 10
  },
  "servers": [
    {
      "url": "https://ticks.bnm.farm"
    }
  ],
  "paths": {
    "/ticks": {
      "get": {
        "operationId": "getTicks",
        "summary": "US hay, cattle, and grain ticks",
        "description": "Call GET /ticks when you need the current official US hay, cattle, and grain snapshot (USDA AMS nationwide plus PNW barns; dairy, hogs, and terminal produce; IBC grain; WD1 $/AF). JSON ticks plus stored history points; days between reports are not filled in. Paid JSON keeps the old keys and adds records[] (id, date, firm, url, type) plus asOf for diffs.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ticks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "us-hay-cattle-grain-ticks",
                  "status": "ok",
                  "fetchedAt": "2026-01-16T00:00:00Z",
                  "asOf": "2026-01-15",
                  "source": "US hay, cattle, and grain ticks cache",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "example-hay-tx-alfalfa",
                      "date": "2026-01-15",
                      "firm": "Texas Direct Hay (example geography)",
                      "url": "https://example.invalid/ams/ams_2707.pdf",
                      "type": "hay"
                    }
                  ],
                  "ticks": [
                    {
                      "id": "example-hay-tx-alfalfa",
                      "group": "hay",
                      "commodity": "Alfalfa",
                      "market": "Texas Direct Hay (example geography)",
                      "unit": "$/ton",
                      "asOf": "2026-01-15",
                      "price": 185,
                      "source": "USDA AMS Texas Direct Hay Report (example)"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/import-alerts": {
      "get": {
        "operationId": "getImportAlerts",
        "summary": "FDA Import Alerts / DWPE",
        "description": "Call GET /import-alerts when you need the current FDA Import Alert / DWPE red and green firm-product snapshot from official cms_ia HTML. First-slice alert pages only. Does not wrap openFDA. Paid JSON keeps ticks[] and adds records[] (id, date, firm, url, type) plus asOf for diffs.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ticks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "fda-import-alerts",
                  "status": "ok",
                  "fetchedAt": "2026-08-18T00:56:39.767Z",
                  "asOf": "2026-08-17",
                  "source": "https://www.accessdata.fda.gov/cms_ia/ialist.html",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "16-81:red:Clover Valley Meat Co.:Alligator & Crocodile, Other Aquatic Species \u2014 Crocodile",
                      "date": "2012-06-08",
                      "firm": "Clover Valley Meat Co.",
                      "url": "https://www.accessdata.fda.gov/cms_ia/importalert_49.html",
                      "type": "import-alert"
                    }
                  ],
                  "ticks": [
                    {
                      "alertNumber": "16-81",
                      "type": "DWPE",
                      "list": "red",
                      "firm": "Clover Valley Meat Co.",
                      "country": "AUSTRALIA",
                      "product": "Alligator & Crocodile, Other Aquatic Species \u2014 Crocodile",
                      "datePublished": "06/08/2012",
                      "sourceUrl": "https://www.accessdata.fda.gov/cms_ia/importalert_49.html",
                      "asOf": "2026-08-17"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/mariners": {
      "get": {
        "operationId": "getMariners",
        "summary": "USCG D13 / Northwest LNM",
        "description": "Call GET /mariners when you need the latest USCG District 13 / Northwest Local Notice to Mariners as structured JSON from the official weekly PDF. Returns week, section, text, and source URL. Does not invent notices. Paid JSON keeps notices[] and adds records[] (id, date, firm, url, type) plus asOf for diffs.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "week": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "uscg-d13-lnm",
                  "status": "ok",
                  "week": "32-2026",
                  "asOf": "2026-08-12",
                  "source": "https://www.navcen.uscg.gov/local-notices-to-mariners?district=13+0&subdistrict=n",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "32-2026:Federal Discrepancies:19055",
                      "date": "2026-08-12",
                      "firm": "Anacortes Harbor",
                      "url": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm13322026.pdf",
                      "type": "mariners"
                    }
                  ],
                  "notices": [
                    {
                      "week": "32-2026",
                      "section": "Federal Discrepancies",
                      "waterway": "Anacortes Harbor",
                      "text": "Anacortes Channel Light 4 LLNR 19055 TRLB/STRUCT MISSING/STRUCT DEST FD",
                      "sourceUrl": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm13322026.pdf"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/mariners-d11": {
      "get": {
        "operationId": "getMarinersD11",
        "summary": "USCG D11 / Southwest LNM",
        "description": "Call GET /mariners-d11 when you need the latest USCG District 11 / Southwest (northern) Local Notice to Mariners as structured JSON from the official weekly PDF. Same NavCEN walker as /mariners. Returns week, section, text, and source URL. Does not invent notices. Paid JSON keeps notices[] and adds records[] (id, date, firm, url, type) plus asOf for diffs.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "week": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "uscg-d11-lnm",
                  "status": "ok",
                  "week": "32-2026",
                  "asOf": "2026-08-12",
                  "source": "https://www.navcen.uscg.gov/local-notices-to-mariners?district=11+0&subdistrict=n",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "32-2026:Federal Discrepancies:5430",
                      "date": "2026-08-12",
                      "firm": "Berkeley",
                      "url": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm11322026.pdf",
                      "type": "mariners-d11"
                    }
                  ],
                  "notices": [
                    {
                      "week": "32-2026",
                      "section": "Federal Discrepancies",
                      "waterway": "Berkeley",
                      "text": "Berkeley Marina Channel Light 2 LLNR 5430 LT EXT FD",
                      "sourceUrl": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm11322026.pdf"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/mariners-d7": {
      "get": {
        "operationId": "getMarinersD7",
        "summary": "USCG D7 / Southeast LNM",
        "description": "Call GET /mariners-d7 when you need the latest USCG District 7 / Southeast Local Notice to Mariners as structured JSON from the official weekly PDF. Same NavCEN walker as /mariners. Returns week, section, text, and source URL. Does not invent notices. Paid JSON keeps notices[] and adds records[] (id, date, firm, url, type) plus asOf for diffs.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "week": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "uscg-d7-lnm",
                  "status": "ok",
                  "week": "32-2026",
                  "asOf": "2026-08-12",
                  "source": "https://www.navcen.uscg.gov/local-notices-to-mariners?district=7+0&subdistrict=n",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "32-2026:Federal Discrepancies:36887",
                      "date": "2026-08-12",
                      "firm": "Altamaha Sound",
                      "url": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm07322026.pdf",
                      "type": "mariners-d7"
                    }
                  ],
                  "notices": [
                    {
                      "week": "32-2026",
                      "section": "Federal Discrepancies",
                      "waterway": "Altamaha Sound",
                      "text": "Altamaha Sound Daybeacon 197 LLNR 36887 STRUCT DEST/TRUB FD",
                      "sourceUrl": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm07322026.pdf"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/mariners-d8": {
      "get": {
        "operationId": "getMarinersD8",
        "summary": "USCG D8 / Gulf LNM",
        "description": "Call GET /mariners-d8 when you need the latest USCG District 8 / Gulf (New Orleans) Local Notice to Mariners as structured JSON from the official weekly PDF. Same NavCEN walker as /mariners. Returns week, section, text, and source URL. Does not invent notices. Paid JSON keeps notices[] and adds records[] (id, date, firm, url, type) plus asOf for diffs.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "week": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "uscg-d8-lnm",
                  "status": "ok",
                  "week": "33-2026",
                  "asOf": "2026-08-19",
                  "source": "https://www.navcen.uscg.gov/local-notices-to-mariners?district=8+0&subdistrict=g",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "33-2026:Federal Discrepancies:20305",
                      "date": "2026-08-19",
                      "firm": "Acadiana Navigation Channel",
                      "url": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm0833g2026.pdf",
                      "type": "mariners-d8"
                    }
                  ],
                  "notices": [
                    {
                      "week": "33-2026",
                      "section": "Federal Discrepancies",
                      "waterway": "Acadiana Navigation Channel",
                      "text": "Acadiana Navigation Channel Light 6 LLNR 20305 STRUCT DEST/TRLB FD",
                      "sourceUrl": "https://www.navcen.uscg.gov/sites/default/files/pdf/lnms/lnm0833g2026.pdf"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/warning-letters": {
      "get": {
        "operationId": "getWarningLetters",
        "summary": "FDA warning-letter bodies",
        "description": "Call GET /warning-letters when you need official FDA warning-letter bodies (firm, date, subject, full letter text) parsed from fda.gov HTML. Not the import-alerts IA feed. Does not invent letter text. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "letters": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "fda-warning-letter-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-19T15:20:36.317Z",
                  "asOf": "2026-08-13",
                  "source": "https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/compliance-actions-and-activities/warning-letters",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "citra100mg-722606-03042026",
                      "date": "2026-03-04",
                      "firm": "Citra100mg",
                      "url": "https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/citra100mg-722606-03042026",
                      "type": "warning-letter"
                    }
                  ],
                  "letters": [
                    {
                      "firm": "Citra100mg",
                      "cms": "722606",
                      "issuedOn": "2026-03-04",
                      "subject": "Unapproved New Drugs/Misbranded",
                      "sourceUrl": "https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/warning-letters/citra100mg-722606-03042026",
                      "body": "WARNING LETTER\nMarch 4, 2026\nRE: Notice of Unlawful Sale of Unapproved and Misbranded Drugs\u2026"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/untitled-letters": {
      "get": {
        "operationId": "getUntitledLetters",
        "summary": "FDA Untitled Letter bodies (CDER OPDP + CBER promo)",
        "description": "Call GET /untitled-letters when you need official FDA Untitled Letter text (CDER OPDP + CBER APLB promo) extracted from per-letter PDFs at /media/{id}/download. Not /warning-letters HTML. Not the HTML index. Does not invent letter text. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "fda-untitled-letter-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-19T22:20:31.840Z",
                  "asOf": "2026-04-28",
                  "source": "https://www.fda.gov/inspections-compliance-enforcement-and-criminal-investigations/compliance-actions-and-activities/issuance-untitled-letters",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "bayer-healthcare-pharmaceuticals-inc-192241",
                      "date": "2026-04-28",
                      "firm": "Bayer HealthCare Pharmaceuticals, Inc.",
                      "url": "https://www.fda.gov/media/192241/download",
                      "type": "untitled-letter"
                    }
                  ],
                  "cards": [
                    {
                      "id": "bayer-healthcare-pharmaceuticals-inc-192241",
                      "firm": "Bayer HealthCare Pharmaceuticals, Inc.",
                      "date": "2026-04-28",
                      "product": "NUBEQA\u00ae (darolutamide) tablets, for oral use",
                      "office": "OPDP",
                      "sourceUrl": "https://www.fda.gov/media/192241/download",
                      "cites": [
                        "FD&C Act"
                      ],
                      "said": "FDA has determined that the video and TV ad are false or misleading.",
                      "body": "The Office of Prescription Drug Promotion (OPDP) of the U.S. Food and Drug Administration (FDA) has reviewed the promotional communications\u2026"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/awa": {
      "get": {
        "operationId": "getAwa",
        "summary": "USDA APHIS AWA inspection-report observation text",
        "description": "Call GET /awa when you need official USDA APHIS Animal Welfare Act inspection-report observation/narrative text extracted from per-report PDFs on the Public Search Tool. Not the Salesforce metadata index. Not Data Liberation. Not /form-483. Not CMS 2567. Not CQC. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "aphis-awa-inspection-observation-text",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-07-07",
                  "source": "https://www.aphis.usda.gov/awa/public-search",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "utah-state-university-068SJ00001KXrsj",
                      "date": "2026-07-07",
                      "firm": "Utah State University",
                      "url": "https://aphis.file.force.com/sfc/dist/version/download/?oid=00Dt0000000GyZH&ids=068SJ00001KXrsj&asPdf=false",
                      "type": "awa"
                    }
                  ],
                  "cards": [
                    {
                      "id": "utah-state-university-068SJ00001KXrsj",
                      "firm": "Utah State University",
                      "date": "2026-07-07",
                      "certificate": "87-R-0002",
                      "inspectionId": "INS-0001617878",
                      "sourceUrl": "https://aphis.file.force.com/sfc/dist/version/download/?oid=00Dt0000000GyZH&ids=068SJ00001KXrsj&asPdf=false",
                      "body": "Inspection Report\nUtah State University\n2.31(c)(7) Critical\nInstitutional Animal Care and Use Committee (IACUC).\n82 naked mole rats were euthanized by a method not on the approved protocol."
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/swisspar": {
      "get": {
        "operationId": "getSwisspar",
        "summary": "Swissmedic first-authorisation SwissPAR evaluation text",
        "description": "Call GET /swisspar when you need official Swissmedic first-authorisation SwissPAR evaluation text extracted from per-product PDFs. Not the A\u2013Z HTML index. Not EMA EPARs/referrals. Not FDA CDER reviews. Not the HCP/FI appendix. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "swisspar-first-auth",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-08-18",
                  "source": "https://www.swissmedic.ch/swissmedic/en/home/humanarzneimittel/authorisations/swisspar.html",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "rhapsido-70227",
                      "date": "2026-08-18",
                      "firm": "Novartis Pharma Schweiz AG",
                      "url": "https://www.swissmedic.ch/dam/swissmedic/en/dokumente/zulassung/swisspar/70227-rhapsido-01-swisspar-20280818.pdf.download.pdf/SwissPAR_inkl.%20FI_Rhapsido.pdf",
                      "type": "swisspar"
                    }
                  ],
                  "cards": [
                    {
                      "id": "rhapsido-70227",
                      "name": "Rhapsido",
                      "inn": "remibrutinib",
                      "ma": "70227",
                      "date": "2026-08-18",
                      "holder": "Novartis Pharma Schweiz AG",
                      "sourceUrl": "https://www.swissmedic.ch/dam/swissmedic/en/dokumente/zulassung/swisspar/70227-rhapsido-01-swisspar-20280818.pdf.download.pdf/SwissPAR_inkl.%20FI_Rhapsido.pdf",
                      "body": "Swiss Public Assessment Report\nRhapsido\nInternational non-proprietary name: remibrutinib\nMarketing authorisation no.: 70227"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/pcac": {
      "get": {
        "operationId": "getPcac",
        "summary": "FDA PCAC 503A briefing-memo evaluation text",
        "description": "Call GET /pcac when you need official FDA-authored PCAC 503A briefing-memo evaluation text extracted from per-substance PDFs. Not the FR notice or docket 0001. Not CDER multidisciplinary reviews. Not combined sponsor/AdComm packs. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "fda-pcac-503a-memos",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-05-11",
                  "source": "https://www.fda.gov/advisory-committees/advisory-committee-calendar/july-23-24-2026-meeting-pharmacy-compounding-advisory-committee-07232026",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "emideltide-193344",
                      "date": "2026-05-11",
                      "firm": "Emideltide",
                      "url": "https://www.fda.gov/media/193344/download",
                      "type": "pcac"
                    }
                  ],
                  "cards": [
                    {
                      "id": "emideltide-193344",
                      "substance": "Emideltide",
                      "date": "2026-05-11",
                      "meeting": "July 23-24, 2026",
                      "mediaId": "193344",
                      "sourceUrl": "https://www.fda.gov/media/193344/download",
                      "body": "FDA Briefing Document\nPharmacy Compounding Advisory Committee (PCAC) Meeting\nJuly 23 -24, 2026\nFDA Evaluation of Emideltide-Related Bulk Drug Substances"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/ftc-wl": {
      "get": {
        "operationId": "getFtcWl",
        "summary": "FTC BCP warning-letter text",
        "description": "Call GET /ftc-wl when you need official FTC Bureau of Consumer Protection warning-letter text extracted from per-letter PDFs on ftc.gov. Not the legal-library index. Not the Drupal node. Not FDA /warning-letters. Not official templates. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "ftc-bcp-warning-letter-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-07-06",
                  "source": "https://www.ftc.gov/legal-library/browse/warning-letters",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "vtron-inc-dba-vtron-lasers",
                      "date": "2026-07-06",
                      "firm": "Vtron Inc. d/b/a Vtron Lasers",
                      "url": "https://www.ftc.gov/system/files/ftc_gov/pdf/vtron-lasers-musa-warningletter.pdf",
                      "type": "ftc-wl"
                    }
                  ],
                  "cards": [
                    {
                      "id": "vtron-inc-dba-vtron-lasers",
                      "firm": "Vtron Inc. d/b/a Vtron Lasers",
                      "date": "2026-07-06",
                      "subject": "Warning Letter Regarding \u201cMade in the USA\u201d Representations",
                      "sourceUrl": "https://www.ftc.gov/system/files/ftc_gov/pdf/vtron-lasers-musa-warningletter.pdf",
                      "body": "Bureau of Consumer Protection\nJuly 6, 2026\nVtron Inc. d/b/a Vtron Lasers\nRe: Warning Letter Regarding \u201cMade in the USA\u201d Representations"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/cfpb-orders": {
      "get": {
        "operationId": "getCfpbOrders",
        "summary": "CFPB consent-order / administrative-order text",
        "description": "Call GET /cfpb-orders when you need official CFPB-authored consent-order / administrative-order text extracted from per-order PDFs on files.consumerfinance.gov. Not the enforcement index. Not the action-page teaser. Not the Consumer Complaint Database. Not FTC /ftc-wl. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "cfpb-consent-order-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2025-01-17",
                  "source": "https://www.consumerfinance.gov/enforcement/actions/",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "american-honda-finance-corporation-2025",
                      "date": "2025-01-17",
                      "firm": "American Honda Finance Corporation",
                      "url": "https://files.consumerfinance.gov/f/documents/cfpb_american-honda-finance-corp-consent-order_2025-01.pdf",
                      "type": "cfpb-order"
                    }
                  ],
                  "cards": [
                    {
                      "id": "american-honda-finance-corporation-2025",
                      "firm": "American Honda Finance Corporation",
                      "date": "2025-01-17",
                      "fileNo": "2025-CFPB-0003",
                      "sourceUrl": "https://files.consumerfinance.gov/f/documents/cfpb_american-honda-finance-corp-consent-order_2025-01.pdf",
                      "body": "UNITED STATES OF AMERICA\nCONSUMER FINANCIAL PROTECTION BUREAU\nADMINISTRATIVE PROCEEDING File No. 2025-CFPB-0003\nCONSENT ORDER\nAmerican Honda Finance Corp."
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/occ-cd": {
      "get": {
        "operationId": "getOccCd",
        "summary": "OCC institution C&D / consent-order text",
        "description": "Call GET /occ-cd when you need official OCC institution Cease-and-Desist / Consent Order text extracted from per-order PDFs on occ.gov/static/enforcement-actions. Not EASearch ExportToJSON metadata. Not CFPB /cfpb-orders. Not FTC /ftc-wl. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "occ-institution-cd-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-06-16",
                  "source": "https://apps.occ.gov/EASearch",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "AA-ENF-2026-29",
                      "date": "2026-06-16",
                      "firm": "United Texas Bank, National Association",
                      "url": "https://www.occ.gov/static/enforcement-actions/eaAA-ENF-2026-29.pdf",
                      "type": "occ-cd"
                    }
                  ],
                  "cards": [
                    {
                      "id": "AA-ENF-2026-29",
                      "bank": "United Texas Bank, National Association",
                      "docket": "AA-ENF-2026-29",
                      "date": "2026-06-16",
                      "sourceUrl": "https://www.occ.gov/static/enforcement-actions/eaAA-ENF-2026-29.pdf",
                      "body": "UNITED STATES OF AMERICA\nDEPARTMENT OF THE TREASURY\nOFFICE OF THE COMPTROLLER OF THE CURRENCY\nAA-ENF-2026-29\nCONSENT ORDER\nUnited Texas Bank, N.A.\nDallas, Texas"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/fdic-orders": {
      "get": {
        "operationId": "getFdicOrders",
        "summary": "FDIC institution consent-order / C&D text",
        "description": "Call GET /fdic-orders when you need official FDIC institution consent-order / Cease-and-Desist text extracted from per-order PDFs on orders.fdic.gov. Not the EDOS Salesforce index. Not BankFind. Not monthly NR counts. Not EDGAR 8-K. Not Federal Register raw_text. Not OCC /occ-cd. Not CFPB /cfpb-orders. Not FTC /ftc-wl. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "fdic-institution-order-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-01-13",
                  "source": "https://orders.fdic.gov/s/",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "FDIC-26-0001b",
                      "date": "2026-01-13",
                      "firm": "MutualOne Bank",
                      "url": "https://orders.fdic.gov/sfc/servlet.shepherd/document/download/069SJ000013gUnXYAU?operationContext=S1",
                      "type": "fdic-order"
                    }
                  ],
                  "cards": [
                    {
                      "id": "FDIC-26-0001b",
                      "bank": "MutualOne Bank",
                      "docket": "FDIC-26-0001b",
                      "date": "2026-01-13",
                      "sourceUrl": "https://orders.fdic.gov/sfc/servlet.shepherd/document/download/069SJ000013gUnXYAU?operationContext=S1",
                      "body": "FEDERAL DEPOSIT INSURANCE CORPORATION\nWASHINGTON, D.C.\nCONSENT ORDER FDIC-26-0001b\nMUTUALONE BANK\nFramingham, Massachusetts"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/frb-orders": {
      "get": {
        "operationId": "getFrbOrders",
        "summary": "FRB institution C&D / written-agreement / PCA text",
        "description": "Call GET /frb-orders when you need official FRB institution Cease-and-Desist / written-agreement / PCA text extracted from per-order PDFs on federalreserve.gov. Not the official enforcement CSV. Not ea-old.json / ea-cms-recent.json / ne-press.json teasers. Not BankFind. Not EDGAR 8-K. Not FDIC /fdic-orders. Not OCC /occ-cd. Not CFPB /cfpb-orders. Not FTC /ftc-wl. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "frb-institution-order-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-04-14",
                  "source": "https://www.federalreserve.gov/supervisionreg/enforcementactions.htm",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "26-019-B-HC",
                      "date": "2026-04-14",
                      "firm": "Community Bankshares, Inc.",
                      "url": "https://www.federalreserve.gov/newsevents/pressreleases/files/enf20260416a1.pdf",
                      "type": "frb-order"
                    }
                  ],
                  "cards": [
                    {
                      "id": "26-019-B-HC",
                      "institution": "Community Bankshares, Inc.",
                      "docket": "26-019-B-HC",
                      "date": "2026-04-14",
                      "sourceUrl": "https://www.federalreserve.gov/newsevents/pressreleases/files/enf20260416a1.pdf",
                      "body": "BOARD OF GOVERNORS OF THE FEDERAL RESERVE SYSTEM\nDocket No. 26-019-B-HC\nCOMMUNITY BANKSHARES, INC.\nOrder to Cease and Desist"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/ncua-orders": {
      "get": {
        "operationId": "getNcuaOrders",
        "summary": "NCUA institution consent C&D text",
        "description": "Call GET /ncua-orders when you need official NCUA institution consent Cease-and-Desist text extracted from per-order HTML on ncua.gov. Not the official CSV. Not late-filer CMP. Not LUAs. Not FRB /frb-orders. Not FDIC /fdic-orders. Not OCC /occ-cd. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "ncua-institution-order-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2021-02-22",
                  "source": "https://ncua.gov/news/enforcement-actions/administrative-orders",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "21-0105-ER",
                      "date": "2021-02-22",
                      "firm": "Live Life Federal Credit Union",
                      "url": "https://ncua.gov/news/enforcement-actions/administrative-orders/2021/administrative-order-matter-live-life-federal-credit-union",
                      "type": "ncua-order"
                    }
                  ],
                  "cards": [
                    {
                      "id": "21-0105-ER",
                      "creditUnion": "Live Life Federal Credit Union",
                      "docket": "21-0105-ER",
                      "date": "2021-02-22",
                      "sourceUrl": "https://ncua.gov/news/enforcement-actions/administrative-orders/2021/administrative-order-matter-live-life-federal-credit-union",
                      "body": "NATIONAL CREDIT UNION ADMINISTRATION\nDocket No. 21-0105-ER\nLIVE LIFE FEDERAL CREDIT UNION\nStipulation and Consent to Cease and Desist Order"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/fincen-orders": {
      "get": {
        "operationId": "getFincenOrders",
        "summary": "FinCEN institution consent-order text",
        "description": "Call GET /fincen-orders when you need official FinCEN institution consent-order text extracted from per-order PDFs on fincen.gov. Not the enforcement-actions index teaser. Not a news-release wrap. GET ?id= one official text ($0.02). Newest chunk on a plain GET (newest 10 official texts, $0.05); older page ?before= another $0.05.",
        "tags": [
          "paid"
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id from the free index. That one official text. $0.02 (20000 atomic). Same door, not a new SKU. Wins over before/page."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Official catalog id or YYYY-MM-DD from the free manifest. Next older chunk. Another $0.05. Omit for the newest chunk."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "1-based page. Page 1 is the newest chunk. Ignored when before is set."
          }
        ],
        "x-auth": {
          "mode": "x402"
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {
                "scheme": "exact",
                "network": "eip155:8453",
                "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
                "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004",
                "amount": "50000"
              }
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "network": "eip155:8453",
          "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
          "payTo": "0xf59621FC406D266e18f314Ae18eF0a33b8401004"
        },
        "responses": {
          "200": {
            "description": "Paid JSON body after a valid x402 settlement",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "product": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "fetchedAt": {
                      "type": "string"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "recordCount": {
                      "type": "integer"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Official catalog ids on this paid page"
                    },
                    "nextBefore": {
                      "type": "string",
                      "nullable": true
                    },
                    "prevBefore": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "product": "fincen-institution-order-bodies",
                  "status": "ok",
                  "fetchedAt": "2026-08-23T12:00:00.000Z",
                  "asOf": "2026-08-03",
                  "source": "https://www.fincen.gov/news/enforcement-actions",
                  "recordCount": 1,
                  "records": [
                    {
                      "id": "2026-02",
                      "date": "2026-08-03",
                      "firm": "UBS Financial Services Inc.",
                      "url": "https://www.fincen.gov/system/files/2026-07/UBS-Consent-Order.pdf",
                      "type": "fincen-order"
                    }
                  ],
                  "cards": [
                    {
                      "id": "2026-02",
                      "institution": "UBS Financial Services Inc.",
                      "docket": "2026-02",
                      "date": "2026-08-03",
                      "sourceUrl": "https://www.fincen.gov/system/files/2026-07/UBS-Consent-Order.pdf",
                      "body": "UNITED STATES OF AMERICA\nFINANCIAL CRIMES ENFORCEMENT NETWORK\nIN THE MATTER OF:\nUBS Financial Services Inc.\nNumber 2026-02\nCONSENT ORDER"
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 x402 challenge in PAYMENT-REQUIRED and JSON body"
          }
        }
      }
    },
    "/ferc-orders": {
      "get": {
[...]
